<h1>Create a new prop</h1>


<div class="row">
	<div class="col-md-4"></div>
	<div class="col-md-4 border">
			
	<%= render 'form' %>
	<%= link_to "Back to the list", props_path %>
			
	</div>
	<div class="col-md-4"></div>	
</div>